body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}
/* Rulesets to be matched up with selectors */

.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

.card header{
    background-color: linear-gradient(to top,red,rgb(196, 8, 8));
    border-radius: 1.5em 1.5em 0 0;
    height: 25px;
  
}
.card footer{
    background-color: linear-gradient(to top,red,rgb(163, 8, 8));
    border-radius: 0 0 1.5em 1.5em;
    height: 20px;
    font-family: 'Helvetica neue'
}
footer p{
    line-height: 1.5em;
    font-size: 1.5em;
    font-style: bold;
}  

header,footer{
    content: 3em;
    padding: 1em;
}
p,h2{
    margin:0em;
}
header h2{
    font-size: 2em;
}
article{
    background-color: rgba(0,0,0,.3);
    color:rgb(216, 216, 216);
    line-height: 1.5em;
    height: 12em;
}
article p{
    font-size: 1em;
    padding-left:1em;
    padding-top: .5em;
}

.card article img{
    max-height:100%;
  height: 12em;
  float: right;  
}
