@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Mono&display=swap');

html {
    font-family: 'Times New Roman', Garamond, Helvetica, serif;
    font-size: 20px;
    /* background: linear-gradient(rgb(184, 148, 255)0%,rgb(218, 208, 224)15%,rgb(204, 185, 215) 85%, rgb(184, 148, 255)100%); */
    background-color: #000;

}
body {
    /* background: linear-gradient(rgb(184, 148, 255)0%,rgb(218, 208, 224)15%,rgb(204, 185, 215) 85%, rgb(184, 148, 255)100%); */
    /* background-color: #fff; */
    color: #fff;
    font-family: "PT Mono", monospace;
    font-style: normal;
    padding: 1em;
    margin: 0; 
}
article {
    position: relative;
    text-align: left;
    padding: 1em;
    width: 50em;
    margin-left: 3em;
    word-break: break-all;
    overflow-wrap: break-word; 
}
h1 {
    text-align: left;
    color: rgb(67, 234, 16);
    font-size: 2em;
    font-family: 'Oswald', serif;
}

h2 {
    color: rgb(0, 242, 255);
    font-size: 1.7em;
    font-family: 'Oswald', serif;
}
h3 {
    color: rgb(254, 7, 217);
    font-size: 1.6em;
    font-family: 'Oswald', serif;
}
h4 {
    color: rgb(255, 238, 0);
    font-size: 1.5em;
    font-family:'Oswald', serif;
}
h5 {
    color: rgb(255, 0, 0);
    font-size: 1.3em;
    font-family: 'Oswald', serif;
}
h6 {
    color: rgb(157, 0, 255);
    font-size: 1.3em;
    font-family: 'Oswald', serif;
}
p {
    font-family: 'PT Mono', monospace;
    font-size: 1.3em;
    color: #fff;
}
hr {
    color:#fff;
    background-color:#fff;
    width:20%;
    text-align:left;
    margin-top:.55em;
    margin-bottom: .55em;
    margin-left:0;
}
link{
    color: #4270fb;
}
link:visited {
    color: #5c09af;
}
link:hover {
    text-decoration: bold;
    color: rgb(160, 160, 252);
}
button{
    color: #375177;
}
button:hover {
    color: #7e8ca0;
}
button:visited {
    color: #375177;
}
ul{
    font-size: .8em;
    color:rgb(212, 143, 255)
}
ol{
    font-size: .8em;
    color:rgb(253, 190, 122)
}
ul li{
    font-size: .8em;
    color: rgb(255, 250, 187)
}
ol li{
    color: rgb(166, 206, 252);
    font-size: .8em;
}
body img{
    float: left;
    max-height:100%;
    
}
#JacketH{
    margin-left: 8em;
    margin-right: 5em;
}
#Wearable{
    position: center;
    margin-left: 12.5em;
    margin-right: 5em;
}
#MeIMG{
    padding-right: 20px;
    padding-top: 70px;
    margin-right: 1em;
    margin-bottom: 3em;
    height: 18em;
}
#LiBo{
    float: right;
    top: 100px;
    margin-right: 10em;
    margin-left: 10em;
    padding-bottom: 20em;
    padding-top: 10em;
    height: 12em;
    width: 12em;
}
#centered{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
#centered img{
    padding-top: 20px;
}
#centered img:hover{
    cursor: pointer; 
}
#navbar{
    z-index: 1;
}
.photos {
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }  
  #BaoDragon, #CupDragon, #TribalBun, #Buff, #Unmask, #AAPI{
    height: 40em;
    width: 40em;
  }
  #Jacket1, #Jacket2,#Jacket3 ,#Jacket4{
    height: 40em;
    width: 40em;
  }
nav{
    z-index: 1;
    background-color:rgb(67, 234, 16);;
    padding: 20px;
    height: 20px;
    position:sticky;
    top:0;
    width:100%
}
nav ul{
    margin:50em;
    padding:0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav a{
    color:fff;
    text-decoration: none;
    padding:.5em 1em;
}
.grid{
    margin :0;
    padding:0;
    max-width: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}
@media screen and (max-width: 400px) {
    body {
      font-size: 12px;
      float: bottom;
    }
    body p{
        width:650px;
        margin-right: 2em;
    }
    h1{
        left:0px;
        margin-right: 5em;
    }
    body img{
    float: right;
    max-height:100%;
    height: 25em;
    margin-right: 1em;
    padding: 1.5em;
    }
    article{
        width: 500px;
        margin-left:1em
    }
    nav{
        background-color:#5c09af;;
        padding-bottom: 5px;
        font-size: 20px;
        width: max-content;
        height: 50px;
        position:relative;
    }
    nav ul{
        margin:1em;
        padding:0;
        list-style:none;
        display: flex;
        justify-content: space-between;
    }
    nav a{
        color:#fff;
        text-decoration: none;
        padding:.5em 1em;
    }
    .photos {
        z-index: 0;
        list-style: none;
        margin: 0;
        padding-left: .75em;
        padding-right: .75em;
        display: grid;
        float: left;
        grid-template-columns: 1fr;
        gap: 1em;
      }
      #BaoDragon, #CupDragon, #TribalBun, #Buff, #Unmask, #AAPI{
        height: 70em;
        width: 70em;
      }
      #Jacket1, #Jacket2,#Jacket3 ,#Jacket4{
        height: 70em;
        width: 70em;
      }
      #LiBo{
        float: left;
        top: 40px;
        margin-right: 1em;
        margin-left: 1em;
        padding-bottom: 2em;
        padding-top: 4em;
        height: 12em;
        width: 12em;
    }
    #JacketH{
        margin-left: 0;
        margin-right: 1em;
    }
    #Wearable{
        margin-left: 0;

    }
    #ArtH1,#ArtH2{
        margin-right:0;
    }
    #MeIMG{
        padding-right: 20px;
        padding-top: 20px;
        margin-right: 1em;
        margin-bottom: .25em;
        height: 30em;
    }
    /*#AboutP{
        width:fit-content;
    }*/
  }
  @media screen and (min-width: 1900px) {
    article {
      font-size: 12px;
    }
    body img{
        float: left;
        max-height:100%;
        height: 18em;
        margin-right: 3em;
    } 
    body{
        border: 0.1em solid rgb(116, 116, 116);
        border-radius: .1em;
    }
  }